# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'go-to-view'
      'submenu': [
        { 'label': 'Jump', 'command': 'go-to-view:jump' }
        { 'label': 'Spec', 'command': 'go-to-view:spec' }
      ]
    ]
  }
]
